@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import 'antd/dist/reset.css'; /* Import Ant Design styles */
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth ;
}

/* form style */
label {
    color: #ffffffd7;
    font-size: 18px;
}
/* form style end */


/* nav item active and inaction style */
.ant-menu-item-selected {
    background-color: #6d28d9 !important;
}

.inactive-item {
    background-color: transparent !important;
}
/* nav item active and inaction style end */



/* product card  */
.product-card img {
    height: 250px !important;
    object-fit: contain;
    width: 100% !important;
}
/* product card  end */